/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*=============
Body Styles
===============*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) no-repeat;
    max-width: 320px;
    margin: 0 auto;
}

html{
    height: inherit;
    font-family: 'Lato', sans-serif;
    color: #595f69;
}

.completeForm{
    background-color: rgba(245, 245, 245, 0.5);
}

/*===================
Header and Top styles
=====================*/
h1{
    background-color: #2d3945;
    color: #fff;
    padding: 5%;
    text-align: center;
    font-weight: bolder;
}
.top{
    margin: 10% auto;
    text-align: center;
    border-bottom: 5px double black;
    width: 90%;
}
.top h2{
    font-size: 1.5rem;
    margin-bottom: 5%;
    color: #2d3945;
}
.top p{
    margin-bottom: 12%;
}

/*=====================
Contact section styles
=======================*/

fieldset .contact{
    margin-bottom: 10%;
    color: #2d3945;
    font-weight: bolder;
    font-size: 1.1rem;
}

label[for=fullName]{
    margin-top: 15px;
}
select{
    width: 90%;
    padding: 10px;
    margin: 4% 5% 4% 5%;
    border: none;
    border-radius: 3px;
}
#zipcode{
    width: 45%; /*input width is 90% this sets the zipcode field to 50% of that*/
}

/*==================
Input Styles
====================*/

input:not([type=submit]):not([type=radio]):not([type=checkbox]){
    width: 90%;
    padding: 10px;
    margin: 4% 5% 4% 5%;
    border: 1px inset;
    border-radius: 3px;
}
input[placeholder=Required]{
    text-align: right;  
}
input[type=radio],
input[type=checkbox]{
    margin: 2% 0 4% 5%;
}

/*==============
Focus States
================*/
input:not([type=submit]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus{
    box-shadow: 0 0 0 4px rgba(73, 3, 138, 0.996);      
    outline: none;
    transition: all 1s ease-out;
}

select:focus{
    box-shadow: 0 0 0 4px rgba(73, 3, 138, 0.996);      
    outline: none;
    transition: all 1s ease-out;
}
#button:focus{
    background-color: rgba(73, 3, 138, 0.996);
    color: #fff;
    outline-color: #17a59c;
    transition: all 1s ease-out;
}

/*===================
Newsletter section
=====================*/

label,
legend,
p{
    margin: 5% 0 2% 5%;
}

.newsletter{
    border-top: 2px solid black;
    width: 90%;
    padding: 8% 0 2% 0;
    color: #2d3945;
    font-weight: bolder;
    font-size: 1.1rem;
}

#html{
    margin-top: 25px;
}

#plain{
    margin-bottom: 55px;
}

textarea{
    margin: 5% 2% 5% 4.8%;
    width: 90%;
    height: 110px;
    border: 1px inset;
    border-radius: 3px;
}

#button{
    width: 250px;
    margin: 2% 4% 5% 10%;
    padding: 5%;
    background-color: #17a59c;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1rem;
}

footer{
    padding-bottom: 2%;
}
footer p{
    text-align: center;
}

/*============
Media Queries
==============*/

@media screen and (min-width: 768px){
    body{
        max-width: 768px;
    }

    body:hover{
        cursor: pointer;
        background: #fff;
    }

    .completeForm:hover{
        background: rgb(8,8,8);
background: linear-gradient(0deg, rgba(165,167,170,1) 50%, rgba(249,247,247,1) 100%);
    }
    label:hover{
        color: white;
    }
    

    .top h2{
        margin-bottom: 1%;
    } 
    .top p{
        margin-top: 1.5%;
    }   
    fieldset .contact{
        margin-bottom: 5% 
    }
    input:not([type=submit]):not([type=radio]):not([type=checkbox]){
        width: 50%;
        display: inline;
        margin: 0 0 15px 5px;
    }
    select{
        width: 50%;
    }
    label[for=fullName]{
        float: left;
        clear: both;
        margin-right: 10%;
        padding: 10px 0;
    }
    label[for=email]{
        float: left;
        padding: 2px 0;
        margin: 25px 48px 0 38px;
    }
    label[for=phone]{
        float: left;
        margin: 20px 40px 0 38px;
        padding: 10px 0;
    }
    label[for=address]{
        float: left;
        margin: 20px 40px 0 38px;
        padding: 10px 0;
    }
    label[for=city]{
        float: left;
        margin: 20px 115px 0 38px;
        padding: 10px 0;
    }
    label[for=states]{
        float: left;
        margin: 45px 75px 0 38px;
        padding: 10px 0;
    }
    label[for=zipcode]{
        float: left;
        margin: 20px 80px 0 38px;
        padding: 10px 0;
    }
    #zipcode{
        width: 25%;
    }
    fieldset{
        margin: 0 auto;
    }
    label[for=html],
    label[for=css],
    label[for=javascript],
    label[for=format],
    label[for=plain]{
        margin: 2% 0 2% 1%;
    }
    
    input:not([type=text]){
        margin-bottom: 1%;
    }
    .newsletter{
       margin-bottom: 1%; 
    }
    
    textarea{
        margin-top: 10px;
    }

    #button{
        width: 90%;
        margin: 5%;
        padding: 12px;
    }
}