/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) no-repeat;
    max-width: 320px;
    margin: 0 auto;
}

html{
    height: 110%;
    font-family: 'Lato', sans-serif;
    color: #595f69;
}

.top{
    margin: 10% auto;
    text-align: center;
    border-bottom: 5px double black;
    width: 90%;
}

.top h2{
    font-size: 1.5rem;
    margin-bottom: 5%;
    color: #2d3945;
}

.top p{
    margin-bottom: 12%;
}

fieldset .contact{
    margin-bottom: 10%;
    color: #2d3945;
    font-weight: bolder;
    font-size: 1.1rem;
}

label[for=fullName]{
    margin-top: 15px;
}

input:not([type=submit]):not([type=radio]):not([type=checkbox]){
    width: 90%;
    padding: 10px;
    margin: 4% 5% 4% 5%;
    border: none;
    border-radius: 3px;
}

input:not([type=submit]):focus{
    background-color: #6e7c8a;
}

input[placeholder=Required]{
    text-align: right;  
}

select{
    width: 90%;
    padding: 10px;
    margin: 4% 5% 4% 5%;
    border: none;
    border-radius: 3px;
}

label,
legend,
p{
    margin: 5% 0 2% 5%;
}

#zipcode{
    width: 45%;
}

.completeForm{
    background-color: rgba(245, 245, 245, 0.5);
}

h1{
    background-color: #2d3945;
    color: #fff;
    padding: 5%;
    text-align: center;
    font-weight: bolder;
}

.newsletter{
    border-top: 2px solid black;
    width: 90%;
    padding: 8% 0 2% 0;
    color: #2d3945;
    font-weight: bolder;
    font-size: 1.1rem;
}

input[type=radio],
input[type=checkbox]{
    margin: 2% 0 4% 5%;
}

textarea{
    margin: 5% 2% 5% 4.8%;
    width: 90%;
    height: 110px;
    border: none;
    border-radius: 3px;
}

#button{
    width: 250px;
    margin: 2% 4% 5% 10%;
    padding: 5%;
    background-color: #17a59c;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1rem;
}


footer{
    padding-bottom: 2%;
}
footer p{
    text-align: center;
}

/*============
Media Queries
==============*/

@media screen and (min-width: 768px){
    
}